audioread==3.0.1
beiwe-forest @ https://github.com/onnela-lab/forest/tarball/develop#sha256=c3d34ade2270978f99f47dc2c14d364e82bef28b97a7b49d5f0156c2801d3485
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptease==0.2.0
cryptography==44.0.2
decorator==5.2.1
h3==4.2.1
holidays==0.68
idna==3.10
joblib==1.4.2
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.44.0
lxml==5.3.1
mano==0.5.2
msgpack==1.1.0
numba==0.61.0
numpy==2.1.3
openrouteservice==2.3.3
orjson==3.10.15
packaging==24.2
pandas==2.2.3
platformdirs==4.3.6
pooch==1.8.2
pycparser==2.22
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.1
ratelimit==2.2.1
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
setuptools==76.1.0
shapely==2.0.7
six==1.17.0
soundfile==0.13.1
soxr==0.5.0.post1
ssqueezepy==0.6.5
threadpoolctl==3.5.0
timezonefinder==6.5.8
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wheel==0.45.1